
input {
  display: block;
  margin-bottom: 20px;
}

input[type=submit] {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #ff0000;
  padding: 2px 20px 2px 20px;
  border: solid #ff0000 2px;
  text-decoration: none;
}

input[type=submit]:hover {
  background: #ffffff;
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
  color: #ff0000;
}